body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    background-color:#EE7214;

}

.container {
    margin-top: 10px;
}
.wel{
    color:#f9e8d9c1;
    Font-family: "Lobster", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 60px;
    margin:0px ;
    display: flex;
    justify-content: center;
}


button {
    padding: 10px 10px;
    margin: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button {
    animation: pulse 1s infinite;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 10px;
}

button {
    padding: 10px 10px;
    margin: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button {
    animation: pulse 1s infinite;
}

  
.center {
    position: absolute;
    top:80%;
    left:15%;
    transform: translate(-50%,-50%);
    
  }
  
#cloud {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px; 
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
    
  }
  
#cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
#cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top:-90px;
    right: 40px;
    
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }
  .wel {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

  